* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
@font-face {
    font-family: "SAIBA-45";
    src: url("/Users/therealpharaohfresh/Desktop/Font-Folder/saiba-45/SAIBA-45.ttf");
}

h1 {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    color: ghostwhite;
    margin: 0;
    padding: 0;
    
    
}

html {
    background-color: black;
}

.vid-gallery{
    width: 80%;
    margin: 100px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}

.vid-gallery iframe {
    width: 100%;
    cursor: pointer;
}

.vid-gallery iframe:hover {
    transform: scale(0.8) rotate(-15deg);
    border-radius: 20px;
    box-shadow: 0 32px 75px rgba(00,00,00,0.2);


}

.container {
    text-align: center;
}

.bttn {
    font-size: 22px;
    color: crimson;
    font-family:  "SAIBA-45";
    background-color: black;

}

.comment-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label-comment {
    color: white;
}

.comment-container:hover {
    box-shadow: 0 0 20px #bb86fc, 0 0 40px #bb86fc, 0 0 60px #bb86fc;

}