* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: black;
    
}
@font-face {
    font-family: "SAIBA-45";
    src: url("../Font-Folder/saiba-45/SAIBA-45.ttf");
}

section h1 {
    font-family: 'Impact', 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;
    text-align: center;
    color: white;
    margin: 0;
    padding: 0;
    
    
}
.First-Header span {
    color: #077b32;
    text-shadow:  0 0 10px #077b32;
    font-weight: 600;
    font-family: 'Impact', 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;


}

.Second-Header span {
    color: #077b32;
    text-shadow:  0 0 10px #077b32;
    font-weight: 600;
    font-family: 'Impact', 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;


}
.Third-Header span {
    color: #077b32;
    text-shadow:  0 0 10px #077b32;
    font-weight: 600;
    font-family: 'Impact', 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;


}
html {
    background-color: black;
}

.vid-gallery {
    width: 80%;
    margin: 100px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 30px;
}

.vid-gallery iframe {
    width: 100%;
    height: 300px;
    cursor: pointer;
    border: #077b32;
    box-shadow: 0 2px 6px #077b32;
}

.vid-gallery iframe:hover {
    transform: scale(0.8) rotate(-15deg);
    border-radius: 20px;
    box-shadow: 0 32px 75px rgba(00,00,00,0.2);


}

.container {
    text-align: center;
}

.bttn {
    font-size: 22px;
    color: crimson;
    font-family:  "SAIBA-45";
    background-color: black;

}

.comment-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label-comment {
    color: white;
}

.comment-container:hover {
    box-shadow: 0 0 20px #077b32, 0 0 40px #077b32, 0 0 60px #077b32;

}
.logo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 10px;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);


}
.custom-nav {
    background-color: black !important;
    box-shadow: 0 0 10px #077b32;
}
.custom-nav a {
    position: relative;
   /* margin: 0 20px; */
    font-size: 1.2rem;
    color: white !important;
    font-weight: 550;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    transition: 0.3s linear;
}
